ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_REFRESH_TOKEN=
ZOHO_ACCOUNT_ID=
ZOHO_SENDER_EMAIL=noreply@urbanprocures.com
MAILGUN_API_KEY=
MAILGUN_DOMAIN=mail.urbanprocures.com
MAILGUN_SENDER_EMAIL=noreply@urbanprocures.com
JWT_SECRET=generate-a-random-256-bit-secret
WEBHOOK_SECRET=generate-a-random-webhook-secret
CF_API_TOKEN=
CF_ACCOUNT_ID=
CF_ZONE_ID=
